/*      UTILS         */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #f6f6f6;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}

h1 {
    margin-bottom: 0;
}

.center-h {
    text-align: center;
}

.margin-1 {
    margin: 1rem;
}

.red {
    color: red;
}

.yellow {
    color: rgb(255, 177, 21);
}

/*       HEADERS       */

.Header {
    display: flex;
    width: 100vw;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    background: #2596f8d4;
}

.Header ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 0;
}

.Header ul a {
    padding: 0.3rem;
    border-bottom: 1px solid transparent;
    transition: all 0.4s ease-in-out;
}

.Header ul a:hover {
    border-bottom: 1px solid black;
}

/*       LOGIN         */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #212121;
    width: 20vw;
    height: 30vh;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.login-container button {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background: #2596f8d4;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease-in-out;
}

.login-container button:hover {
    background: #8edbfe;
}

.login-container input {
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}

.login-container input:focus {
    outline: none;
}

/*       HOME        */

.menu {
    display: flex;
    gap: 2rem;
}

.menu a {
    padding: 1rem;
    background: #2596f8d4;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.menu a:hover {
    box-shadow: 1px 1px 5px rgb(89, 89, 89);
}